= simple_form_for @artist, html: { multipart: true } do |f|
	- if @artist.errors.any?
		#errors
			%h2
			= pluralize(@artist.errors.count, "error")
			prevented this artist from saving
			%ul
				- @artist.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :name, input_html: { class: 'form-control' }

	.form-group
		= f.input :image, input_html: { class: 'form-control'}

	.form-group
		= f.text_area :description, cols: "40", rows: "10", input_html: { class: 'form-control' }

	.form-group
		= f.input :origin, input_html: { class: 'form-control' }

	%br/

	.form-group
		= f.check_box :allow_other_to_add_songs
		%strong Allow other users to add songs for this artist

	= f.button :submit, class: 'btn btn-primary'