.container
	.row
		.col-md-4.padding
			= image_tag @song.image.url, class: "song_img_profile"
			%br/
			%h3= @song.title
			%h4= link_to @song.artist.name, artist_path(@song.artist)
			%h4= link_to @song.genre, select_path(genre: @song.genre)
			= mp3_player @song.mp3.url
			%br/
			%h4=link_to @song.artist.user.email, user_path(user_id: @song.artist.user_id)
			%br/
			%br/
			= link_to like_song_path(@song), method: :put, class: "btn btn-default" do
				%span.glyphicon.glyphicon-thumbs-up
					= @song.get_upvotes.size

			= link_to dislike_song_path(@song), method: :put, class: "btn btn-default" do
				%span.glyphicon.glyphicon-thumbs-down
					= @song.get_downvotes.size
			%br/
			%br/
			- if @song.artist.user == current_user
				%p.comment
					= link_to "Edit", edit_artist_song_path(@song.artist, @song), class: "btn btn-default"
					= link_to "Delete", song_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
			

		.col-md-4
			%h4 Similar songs
			-if !@songs.any?
				%h2 No results found
			-else
				- @songs.each_slice(3) do |songs|
					.row
						- songs.each do |song|
							.col-md-4
								=link_to song do
									= image_tag song.image.url, class: 'show-image'
									%br/
								%h5=song.title
				= will_paginate @songs, class: 'pagination'

		/ .col-md-2.col-md-offset-1
		/ 	%h4.col-md-offset-3 Top songs
		/ 	-if !@most_liked_songs.any?
		/ 		%h2 No liked songs found
		/ 	-else
		/ 		%ul
		/ 		- @most_liked_songs.each do |song|
		/ 			=link_to song do
		/ 				.col-md-offset-4
		/ 					= image_tag song.image.url, class: 'content-image'
		/ 			%h5
		/ 				%span{class: 'badge'}=song.title + ' by ' + song.artist.name
		/ 		%br/
	
	= render :partial => @song.comments

	= simple_form_for [@song.artist, @song, Comment.new] do |f|
		= f.text_area :body, cols: "140", rows: "7", placeholder: 'Add comment here...', input_html: { class: 'form-control' }
		%br/
		= f.submit "Add Comment", class: 'btn btn-sm btn-default'
		
	