= image_tag @song.image.url(:medium), class: "song_image"
%br/
%h4= @song.title
%h4= @song.genre
%br/
= mp3_player @song.mp3.url

= link_to "Edit", edit_artist_song_path(@song.artist, @song), class: "btn btn-default"
= link_to "Delete", song_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"