%header.navbar.navbar-inverse
  .container
    .navbar-brand= link_to "Music App", root_path
    %nav
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-left.navbar-menu
        %li= render 'layouts/genres'
        %li= link_to "Songs", songs_path
        %li= link_to "Artists", artists_path
        %li= link_to "Most liked", most_liked_path
        %li= link_to "favorites", favorites_path
        %li= link_to "Statistics", statistics_path
      %ul.nav.navbar-nav.navbar-right
        =render 'layouts/search'
        %li.navbar-menu= link_to "New artist", new_artist_path
        =render 'layouts/user'
    - else
      %ul.nav.navbar-nav.navbar-left.navbar-menu
        %li= render 'layouts/genres'
        %li= link_to "Songs", songs_path
        %li= link_to "Artists", artists_path
        %li= link_to "Most liked", most_liked_path
        %li= link_to "Statistics", statistics_path
      %ul.nav.navbar-nav.navbar-right
        =render 'layouts/search'
        %li= link_to "Log in", new_user_session_path
        %li= link_to "Sign up", new_user_registration_path